# IDE / Editor
.idea

/.eslintcache

### react ###
.DS_*
launch.json
npm-debug.log*
yarn-debug.log*
yarn-error.log*
*.log
logs
**/*.backup.*
**/*.back.*

# dependencies
/node_modules
bower_components
/.pnp
.pnp.js

*.sublime*

psd
thumb
sketch

# production
/dist

#yarn
yarn.lock

#node package lock json
package-lock.json

# Runtime data
pids
*.pid
*.seed
*.pid.lock


# Yarn Integrity file
.yarn-integrity

# parcel-bundler cache (https://parceljs.org/)
.cache